# templates/nginx.conf.j2
user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
    worker_connections 768;
}

http {
    server {
        listen {{ nginx_port }};
        location / {
            root /var/www/html;
            index index.html index.htm;
        }
    }
}
